.date-header {
    font-size: 18px;
    color: #06B;
}

.date-header span {
    color: #777;
    font-size: 14px;
}

.list-toolbar {
    width: 100%;
    background-color: #bbb;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
}