.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  position: absolute;
  padding: 15px 0 15px 0;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.logout-btn {
  position: absolute;
  right: 15px;
}

